.element {
    padding: 10px;
    margin: 20px;
}

.element:hover .element-still {
    outline: 5px solid #32347a;
    border-radius: 20px;
}

.break {
    width: 25vmax;
}

.element-still {
    width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.element-title {
    text-transform: uppercase;
    font-family:"Roboto Mono";
    margin-top: 5px;
    font-size: 14px;
    color: 32347a;
    text-align: center;
    color: #32347a;
    padding: 10px;
    border-radius: 10px;

}

.element {
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: center;
}