@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

.desktop {
    background-color: #fff6f6;
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Nunito";
    color: #32347a; 
  }

.layout {
  background-color: green;
  margin: auto;
  /* min-height: 50vh; */
  width: 70%;
  z-index: -1;
}

.page-title {
  background-color: white;
  text-align: center;
  font-family:"Robobto Slab";
  text-transform: uppercase;
}