@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

html {
  background-color: #fff6f6;
}
.desktop {
    font-family: "Nunito";
    color: #32347a;   
    background-size: cover;
    object-fit: cover;
  }

.layout {
  margin: auto;
  width: 70%;
  margin-top: 50px;
}

.page-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .15rem;
  font-size: 28px;
}
