.home-layout {
    margin-top: 10px;
    margin-left: 300px;
    width: 815px;
    padding-top: 10px;
    border-radius: 40px;
    height: 650px;
}

.background-image-layout {
    display: block;
    margin-left: 60px;
    width: 600px;
}

.art-world-layout {
    width: fit-content;
}

.animation-flower-layout {
    margin-top: -500px;
    margin-left: 210px;
}

.zine-flower-layout {
    margin-top: -165px;
    margin-left: 140px;
}

.sketch-flower-layout {
    margin-top: -20px;
    margin-left: 70px;
}

.deep-cuts-flower-layout {
    margin-top: -185px;
    margin-left: 45px;
}

.tech-world-layout {
    width: fit-content;
}

.software-flower-layout {
    margin-left: 420px;
    margin-top: 210px
}

.ux-flower-layout {
    margin-left: 580px;
    margin-top: -140px;
}

.arrows {
    margin-left: 140px;
    margin-top: 10px
}

.home-footer {
    margin-top: 200px;
}

@media only screen and (max-width: 800px) {
    .background-image-layout {
        visibility: hidden;
    }
}