.past-projects-layout {
  margin: auto;
  width: 65%;
  text-align: center;
}

.row { 
  display: flex;
  justify-content: center;
}
.software-element {
  border-radius: 10px;
  outline: 5px solid #32347a;
  height: 350px;
  margin: 20px;
}

.software-element:hover {
  outline: 5px solid #f6e3ad;

}
/* f6e3ad, b9bba3, eea98b, bcc497, ebd08d, eba279, c0c1a5, f2bd86, e0806d, 85a38c */
.project-name {
  margin-top: 50px;
  margin-bottom: 5px;
  font-family:"Roboto Mono";
  letter-spacing: .15rem;
  font-size: 16px;
  width: 400px
}

.project-description {
  padding-left: 10%;
  padding-right: 10%;
}