.past-projects-layout {
  margin: auto;
  width: 100%;
  text-align: center;
}

.row { 
  display: flex;
  justify-content: center;
}

.software-element {
  border-radius: 10px;
  height: 350px;
  width: 400px;
  margin: 20px;
}

.bottom-row-element {
  border-radius: 10px;
  height: 187px;
  width: 187px;
  margin: 15px;
}

.project-name {
  margin-top: 50px;
  margin-bottom: 5px;
  font-family:"Roboto Mono";
  letter-spacing: .15rem;
  font-size: 16px;
  width: 400px;
}

.project-description {
  padding-left: 10%;
  padding-right: 10%;
}

.demo-link {
  color: #32347a;
}

.software-image {
  object-fit: cover;
  height: 350px;
  width: 400px;
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  .row {
    display: block;
    width: fit-content;
  }

  .software-element {
    width: 100%;
    margin: auto;
    font-size: 13px;
    padding-top: 10px;
    margin-top: 20px;
  }

  .project-name {
    width: auto;
  }
}


#one {
  background-color: #f6e3ad;
}

#two {
  background-color: #eea98b;
}

#three {
  background-color: #85a38c;
}

#four {
  background-color: #85a38c;
}

#five {
  background-color: #e0806d;
}

#six {
 background-color: #bcc497;
}

#seven {
  background-color: #eba279;
}

#eight {
  background-color: #ebd08d;
}

#nine {
  background-color: #ebd08d;  
}

#ten {
  background-color: #bcc497;  
}