.footer {
    bottom: 0;  
    background-color: #F8E9E9;
    height: 250px;
    text-align: center;
    margin-top: 200px;
    font-family: "Roboto Mono";
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.email-info {
    background-color: white;
    border-radius: 5px;
    width: 220px;
    height: fit-content;
    margin-top: 50px;
    padding: 18px;
}

.hot-links {
    margin-top: 30px;
    width: 400px;
    display: flex;
    text-align: left;
    margin-right: 100px;
    font-size: 13px;
}

.hot-link {
    text-decoration: none;
    color: #32347a;
}

.hot-link:hover {
    font-weight: bold;
}

.home-hot-links {
    margin-left: 50px;
    text-align: left;
    text-transform: uppercase;
}
.art-hot-links {
    margin-left: 40px;
}

.email-address {
    font-family: "Roboto Slab";
    font-size: 18px;
    text-decoration: none;
    color: #32347a;
}